
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="top-breadcrumb">
    <ul>
        <li><a href="#">Home</a><span class="span-breadcrumb"></span></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</div><!--top-breadcrumb-->

<div class="clear"></div>



<div id="contacts-div">
    <h2>Contact Us if issues cause</h2>
    <p>Name: Andrii</p>
    <p>Email: taboroffsky6@gmail.com</p>
    <p>Skype: taboroff_sky</p>
    <p>Telegram: @@andriii_t</p>
</div>

