
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <link href="~/Content/MyStyleSheet.css" rel="stylesheet" />
    <title>_Default</title>
</head>
<body>
    <div class="div-container"> 
        <div class="div-header">
            Shopping Online - Get Reward)
            </div><!--div-header-->
        <div class="div-topmenu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            </div><!--div-topmenu-->
    <div class="clear"></div>
        <div class="div-left">
            <div class="category-title">Category</div><!--category-title-->
            <div class="category-list">
                <ul>
                    <li><a href="#">IPhone</a></li>
                    <li><a href="#">IPad</a></li>
                    <li><a href="#">Macbook</a></li>
                </ul>
                </div><!--category-list-->
            </div><!--div-left-->
        <div class="div-main">
            <div class="top-breadcrumb">
                <ul>
                    <li><a href="#">Home</a><span class="span-breadcrumb"></span></li>
                    <li><a href="#">Product</a></li>
                </ul>
            </div><!--top-breadcrumb-->

        <div class="clear"></div>
            <div class="main-content">
                <div class="content-image"></div><!--content-image-->
                <div class="content-title"></div><!--content-title-->
                <div class="content-price"></div><!--content-price-->
                </div><!--main-content-->
            </div><!--div-main-->
        <div class="clear"></div>
        <div class="div-footer">
            <p>Copyright) All rights reserved</p>
            <p>Email : dr@email.em</p>
            </div><!--div-footer-->
    </div><!--div-container-->
</body>
</html>
